{% extends "web_layout/trang-chu-master.html" %}    
{% block head %}

{{ super()}}
{% block title %} Trang thông tin {% endblock %}

{% endblock %}

<!-- Content Block -->

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <h4 class="page-title">Thông tin</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" style="color: black;">Lịch sử thành lập</li>
                    </ol>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-5">
                        <div class="card h-100">
                            <img class="img-thumbnail card-img-top" alt="400x400" width="200"
                                src="{{ url_for('static', filename = 'trang_chu/images/7.jpg') }}"
                                data-holder-rendered="true" alt="Card image cap">   
                            
                            <div class="card-body">    
                                <h4 class="card-title font-16 mt-0 text-center" style="color: whitesmoke;"> Hình ảnh năm 1959</h4>
                            </div>
                        </div>

                    </div><!-- end col -->
        
                    <div class="col-md-6 col-lg-6 col-xl-7">
                        <div class="card h-100">
                            <div class="card-body">
                                <p style="color:whitesmoke"><b>Ngôi trường</b><br />
                                    Trường Đại học Hà Nội đã trải qua 60 năm hình thành và phát triển, trong 60 năm đó Nhà trường đã có một số lần được đổi tên, mỗi sự kiện ấy đều gắn với những thăng trầm và bối cảnh lịch sử xã hội theo từng thời kỳ như: Trường Ngoại ngữ (1959-1960), Trường Bổ túc Ngoại ngữ (1960-1967), Trường Đại học Ngoại ngữ (1967-1978), Trường Cao đẳng Bổ túc Ngoại ngữ (1978-1984), Trường Đại học Ngoại ngữ (1984-2006) và từ 2006 đến nay là Trường Đại học Hà Nội.
                                </p>
                            </div>
                        </div><!-- end col -->
                    </div>
        
                </div>
            </div>
            <!-- container-fluid -->
        
        </div>
    </div>
</div>
                
{% endblock %}

<!-- Script block -->

{% block script %}

{{ super()}}

{% endblock %}